<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3 class="section-header">
    Check out my projects on GithHub!
  </h3>

  <p><a href="https://github.com/shikkic" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View Shikkic on GitHub &rarr;</a></p>

  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <img src="https://avatars1.githubusercontent.com/u/8765687?v=3&s=460" alt="Dan Cadden" height="100px" width="110px" class="pull-left">
      <div class="media-body">
        <h4 class="media-heading">Dan Cadden</h4>
      </div>
    </div>
  </p>

  <p><a href="https://twitter.com/Shikkic" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @shikkic</a></p>

</div>
<!--
<h3>
  Shiori is Customizable!
</h3>

<p><button data-purplecoat-toggle="shiori" class="btn btn-default"><i class="fa fa-toggle-on"></i> Toggle Customizable Sections</button></p>

<p>&uarr; Powered by <a href="http://ellekasai.github.io/purplecoat.js" target="_blank">Purplecoat</a>.</p>
-->